.landingPageContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    justify-self: center;
    /* border: 2px solid yellow; */
}


.imageContainer{
    margin: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    align-items: center;
}

.imageContainer img {
    width: 80%;

}


.buttonDesign{
    border-radius: 0px;
    background: linear-gradient(145deg, #4a4a4a, #3e3e3e);
    box-shadow:  21px 21px 42px #1c1c1c,
                 -21px -21px 42px #6e6e6e;
    size: 50px;
}
