.containerMarsClub{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 5%;
    justify-content: center;
}

.photogallery{
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.button{
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;

}

/* .button div{
    display: flex;
    flex-direction: row;
    width: 30px;
    padding: 10px;
} */

.button button {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 38px;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid black;
    margin: 20px;
}


