.navcontainer{
    height: 50px;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    padding:10px;
    overflow: hidden;
    justify-content: space-between;
    box-shadow:  35px 35px 70px #b5b5b5,
    -35px -35px 70px #ffffff;
    background-color: white;
    position: fixed;
    cursor: pointer;
    z-index: 999;
}

.logo{
    font-size: 30px;
    margin-left: 2%;
    padding: 10px;
    align-self: center;
}

.list {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-decoration: None;
    justify-content: flex-end;
    text-decoration: none;
    margin-right: 10%;
}

.list li{ 
    padding: 0px 20px;
    width: 100%;
    list-style: none;
}

.list li a {
    text-decoration: none; 
    
}


/* Styles for mobile devices */
@media only screen and (max-width: 768px) {
    .navcontainer{
        height: 40px;
        padding:5px;
        justify-content: space-between;
    }
  
    .logo{
        font-size: 18px;
        padding: 5px;
    }

    .list {
        font-size: 14px;
        margin-right: 5%;
    }
    
    .list li{ 
        padding: 0px 5px;
    }
  }