.footContainer{
    margin-top: 50px;
    height: 40px;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    padding:10px;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow:  -20px -20px 40px #bcbcbc,
    20px 20px 40px #ffffff;
    
}