.newsPageContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 5%;
    justify-content: center;
    place-items: center;
    border: 2px solid black;
}

.newscard{
    height: 30%;
    margin: 10px;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}

.newscard img {
    width: 50%;
}

.card-content h2 {
    size: 40px;
    text-align: left;
}
.card-content p {
    size: 20px;
    text-align:left;
}

.card-content .description p{
    font-size: 20px;
}